doctype html
html(lang="en")
    include inc/header
    body
        div.container
            div.row
                div.col-md-6
                    block content
        include inc/scripts
        block script