.alert.alert-danger(role="alert")
    h4 Who are you?
    p
    | Sorry sending requests anonymus only works in the wild internet,
    | Within our company we should know whom we talk to and we should be
    | able to respond to you. So please pass in the "user" parameter.
